body{
    background-color: lightgre
    margin: 0 auto;
    width: 100%;
    height: 100%;
}



p{
    text-align: center; 
    font-family:Georgia;
    line-height:32.4px;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    font-size:18px;
    padding-left: 25em;
    padding-right: 25em;
}

h1{
    font-size: 2em;
    color: #df5b57;
    font-family:Bree;
    margin:2em;
    text-align: center;
    padding-left: 5em;
    padding-right: 5em;
}


a {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
    margin-left: 28em;
    
}

/* Custom */
a {
    
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  font-size: 30px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 255, 227, 125, 0.5 );
  background: #df5b57;
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 255, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

a:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 255, 165, 60, 0.2 );
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

a:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 255, 165, 60, 0.0 );
  background: #fff;
}




.button {
  background-color: transparent;
  border: none;
  color: transparent;
  padding: 50px 50px;
  left: 1120px;
    top:330px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    position: absolute;
    display:inline-block;
}



.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    margin-left: -8px;

}
.bgimg-1 {
    margin-top: -24px;
  background-image: url("Images/mainimage_Tekengebied%201.png");
  min-height: 100%;
    
}

.bgimg-2 {
  background-image: url("Images/worldmap.gif");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("Images/slaaf.gif");
  min-height: 100%;
}

.bgimg-4 {
  background-image: url("Images/vocship.gif");
  min-height: 100%;
}

.bgimg-5 {
  background-image: url("Images/amsterdamhousebig_Tekengebied%201.png");
  min-height: 800px;
}


.kleur1
{color:#77A86F}

.kleur2
{color:#181919}
.kleur3
{color:cornflowerblue;}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}





  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

.button2 {
  background-color:transparent; 
  border: none;
  color: transparent;
  padding: 50px 50px;
  left: 980px;
    top:550px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    position: absolute;
    display:inline-block;
}

.button3 {
  background-color: transparent; 
  border: none;
  color: transparent;
  padding: 50px 50px;
  left: 620px;
    top:380px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    position: absolute;
    display:inline-block;
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}


.image{
    
    width:20%;
    
     display: block;
  margin-left: auto;
  margin-right: auto;
    
}

img{
    
    width:100%;
}

h2{
    
    position:absolute;
    color:white;
    margin: 4em;
    font-size: 30px;
}

h3{
    padding-right:30em;
    position:absolute;
    color:white;
    margin: 15em 9em;
    font-family:Georgia;
    font-size: 14px;
}




a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;

    
}

a:hover {
 
 
  color: orange;
    opacity:50%;
}

.previous {
    position:absolute;
  background-color: transparent;
  color: white;
    right:50px;
    top:20px;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.h3v1{
    
    top:570em;
    
    padding-left:18em;
    padding-right:18em;
}


@keyframes type{
    
    0%{
        
        width: 0ch;
    }
    
    
    100%;{
        
        
    }
    
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-3px, -3px, -3px);
  }
  
  20%, 80% {
    transform: translate3d(4px, 4px, 4px);
  }

  30%, 50%, 70% {
    transform: translate3d(-6px, -6px, -6px);
  }

  40%, 60% {
    transform: translate3d(6px, 6px, 6px);
  }
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

h2.shake{
 animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

h3.shake{
 animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}